/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.input-area {
	margin-top: 1rem;
	width: 100%;
	height: 4rem;
	padding: 0.5rem;
	border-radius: 0.5rem;

	font: normal normal 1rem/4rem "得意黑";
	outline: none;
	border: none;
	transition: border 0.5s;
}

.input-area:focus {
	outline: none;
	border: 1rem solid #000 outset;
}


.cg-img-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.cg-img {
	width: 70%;
	height: auto;
	object-fit: cover;
	margin-top: 1rem;
	margin-right: 1rem;
	transition: all 0.5s ease-in-out;
}

.cg-img:nth-child(odd) {
	clear: left;
}

.cg-img:hover {
	/* box-shadow */
	box-shadow:
		2.8px 2.8px 2.2px rgba(0, 0, 0, -0.004),
		6.7px 6.7px 5.3px rgba(0, 0, 0, 0.004),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
		22.3px 22.3px 17.9px rgba(0, 0, 0, 0.028),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.044),
		100px 100px 80px rgba(0, 0, 0, 0.07);
	width: 80%;
	transition: all 0.5s ease-in-out;
}

.next_btn {
	display: block;
	width: 70%;
}

.loading-image {
	opacity: 0;
	transition: opacity 1s;
}

.loading-image.loaded {
	opacity: 1;
}

.cg-img-size-tag {
	padding: 0.5rem;
	font: normal normal 1rem/1rem "得意黑";
	color: rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
	background-color: rgba(207, 255, 152, 0.5);
	border: 1px solid rgba(122, 205, 71, 0.7);
}

.describe-tags {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cg-img-tag-tag {
	padding: 0.5rem;
	font: normal normal 1rem/1rem "得意黑";
	color: #fff;
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.5);
}
